# Virtual environments
venv/
.env/
.venv/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Data & heavy artifacts
data/
data_small/
out/
checkpoints/
*.pth
*.pt
*.ckpt

# Logs & reports
*.log
*.csv
*.tsv

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints

# OS-specific junk
.DS_Store
Thumbs.db

# IDE configs (optional)
.vscode/
.idea/
